<!DOCTYPE html>
<html>
  <head>
    <title>RedditOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:errors] %>
      <p><%= flash[:errors].join(", ") %></p>
    <% end %>

    <%# <% if signed_in? %> %>
      <%# <nav> %>
        <%# <a class="button" href="<%=  %>"> %>
      <%# </nav> %>
    <%# <% end %> %>

    <%= yield %>
  </body>
</html>
